body {
  margin: 0;
}

div#container {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  max-width: 100%;
  height: auto;

  .node {
    fill: #ccc;
    cursor: pointer;

    &:hover {
      fill: #999;
    }

    &.selected {
      fill: #f00;
      stroke-width: 1;
      stroke: #000;
    }
  }

  .label-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
  }

  .links {
    stroke: #777;
    stroke-width: 3;

    &.selected {
      stroke: #f66;
    }
  }

  #arrow {
    fill: #777;
  }
}
